[init]
	defaultBranch = main
[core]
	autocrlf = false
	editor = vi
	ignorecase = false
	quotepath = false
[color]
  ui = auto
[column]
  ui = auto
[branch]
  sort = -committerdate
[fetch]
	prune = true
[pull]
	ff = only
	default = current
[push]
  default = current
  autoSetupRemote = true
[rebase]
  autostash = true
  autosquash = true
[merge]
  conflictstyle = zdiff3
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[include]
	path = .gitconfig.local
