[init]
	defaultBranch = main
[core]
	autocrlf = false
	quotepath = false
[color]
	ui = auto
[fetch]
	prune = true
[pull]
	ff = only
	default = current
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
