[init]
	defaultBranch = main
[core]
	autocrlf = false
	editor = code --wait
	ignorecase = false
	quotepath = false
[color]
	ui = auto
[fetch]
	prune = true
[pull]
	ff = only
	default = current
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[alias]
	ci = commit
	st = status
	br = branch
	sw = switch
	co = checkout
[include]
	path = .gitconfig.local
